<div class="header">
    <div class="container_logo">
       <a class="logo-text" > Name Agency </a>
    </div>

    <div class="container_menu">
        <ul class="menu_list">
            <li class="items" routerLink="/home" routerLinkActive="activeMenu"> Home </li>
            <li class="items" routerLink="/service" routerLinkActive="activeMenu"> Service </li>
        </ul>
    </div>

    <div class="container_user">
        <a class="login userHeaderText" routerLink="/login" routerLinkActive="active"> Login </a>
        <a class="register userHeaderText" routerLink="/register" routerLinkActive="active"> Register </a>
        
    </div>
</div>

