.header {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.logo-text {
    font-weight: bold;
    font-size: 1.5em;
}

.container_logo {
    display: flex;
    flex: 1;
}

.container_menu {
    display: flex;
    flex: 8;
    margin: 0;
    padding: 0;
}

.items {
     margin: 0.2em;
     font-size: 1em;
     background-color: rgba(214, 128, 6, 0.382);
     padding: 0.3em;
     padding-left: 0.8em;
     padding-right: 0.8em;
     color: white;
     border-radius: 5px;
     transition: all 0.5;
}

.items:hover {
    background-color: rgba(255, 151, 4, 0.967);
    cursor: pointer;
}

.activeMenu {
    background-color: rgba(255, 151, 4, 0.967);
}

.menu_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


.container_user {
    display: flex;
    flex: end;
}

.userHeaderText {
    margin: 0.5em;
    color: grey;
    transition: all 0.5s;
    margin-right: 2em;
    text-decoration: none;
}

.userHeaderText:hover {
    cursor: pointer;
}

.login:hover::before {
    content: " ";
    position: absolute;
    background-color: rgb(162, 199, 14);
    height: 2px;
    color: black;
    cursor: pointer;
    animation: loginHover 4s infinite;
    animation-name: loginHover;
    cursor: pointer;
    margin-top: -0.5em;
}

.register:hover::before {
    content: " ";
    position: absolute;
    background-color: rgb(10, 10, 212);
    height: 2px;
    color: black;
    cursor: pointer;
    animation: loginHover 4s infinite;
    animation-name: loginHover;
    cursor: pointer;
    margin-top: -0.5em;
}

@keyframes loginHover {
    0% {width: 0%;}
    50% {width: 50px;}
    100% {width: 0em;}
}

.active {
    color: black;
    font-weight: bold;
}