.inputBox {
    margin: auto;
    text-align: left;
    margin: auto;
    padding: 1em;
    
}

.inputText {
    display: block;
    padding: 0.5em;
}

.inputLogin {
    display: inline-block;
    padding: 1em;
    width: 80%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.498);
    outline: none;
    
}
