

.header {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
}

.logo-text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
    display: inline-block;
    color: rgb(255, 123, 0);
    
}

.items {
     margin: 0.2em;
     font-size: 1em;
     padding: 0.3em;
     padding-left: 0.8em;
     padding-right: 0.8em;
     color: rgb(0, 0, 0);
     border-radius: 5px;
     transition: all 0.5;
}

.items:hover {
    background-color: rgba(255, 151, 4, 0.967);
    cursor: pointer;
    
}

.activeMenu {
    background-color: rgba(255, 151, 4, 0.967);
    color: white;
}

.menu_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.userHeaderText {
    margin: 0.5em;
    color: grey;
    transition: all 0.5s;
    margin-right: 2em;
    text-decoration: none;
}

.userHeaderText:hover {
    cursor: pointer;
}

.login:hover::before {
    content: " ";
    position: absolute;
    background-color: rgb(255, 157, 10);
    height: 2px;
    color: black;
    cursor: pointer;
    animation: loginHover 4s infinite;
    animation-name: loginHover;
    cursor: pointer;
    margin-top: -0.5em;
}

.register:hover::before {
    content: " ";
    position: absolute;
    background-color: rgb(255, 153, 0);
    height: 2px;
    color: black;
    cursor: pointer;
    animation: loginHover 4s infinite;
    animation-name: loginHover;
    cursor: pointer;
    margin-top: -0.5em;
}

@keyframes loginHover {
    0% {width: 0%;}
    50% {width: 50px;}
    100% {width: 0em;}
}

.active {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .header {
        text-align: center;
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
        flex-direction: column;
        margin-top: 1.5em;
        width: fit-content;
        margin: auto;
    }
    .logo-text {
        font-size: 2.5em;
    }
    
    .container_user {
        margin-top: 0.5em;
        border-top: 5px solid rgba(176, 176, 176, 0.32);
    }
    .userHeaderText {
        display: block;
        margin-top: 1em;
    }
    .menu_list {
        font-size: 1.7em;
    }

    .items {
        font-size: 0.6em;
    }
    

}




.container_user {
    display: flex;
    margin-top: 1em;
    flex: end;
}

