<div class="header">

    <div class="container_logo">
        <app-button [textInfo]="'back to explore'" [classes]="['explore', 'userHeaderText']" [routerLink]="'/home'"
            [routerLinkActive]="'activeToBack'">

        </app-button>

        <app-button [textInfo]="'Now Note Only'" [classes]="['explore', 'userHeaderText', 'titleNow']"
            [routerLink]="'/home'" [routerLinkActive]="'activeHome'"> </app-button>
    </div>


    <div class="container_user">

        <app-button *ngIf="!isCookiePresent" [textInfo]="'Login'" [classes]="['login', 'userHeaderText']"
            [routerLink]="'/login'" [routerLinkActive]="'active'">
        </app-button>

        <app-button *ngIf="!isCookiePresent" [textInfo]="'Registrati'" [classes]="['register', 'userHeaderText']"
            [routerLink]="'/register'" [routerLinkActive]="'active'">
        </app-button>

    </div>


    <div *ngIf="isCookiePresent">
        <app-header-profile></app-header-profile>
    </div>

</div>