#login {
    margin: 1em;
    display: block;
    padding: 1em;
    width: 40%;
    margin: auto;
    margin-top: 3.5em;
    font-weight: bold;
    transition: all 1.5s;

}

.inputBox {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 15px;
    transition: all 1.5s;
}

.inputText {
    color: rgb(14, 14, 14);
    font-size: 0.8emem;
    font-weight: bold;
    transition: all 1.5s;

}

.inputLogin {
    border: 0px solid white;
    outline: none;
    font-size: 1.2em;
    border: 2px solid rgb(212, 212, 212);
    padding: 1em;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 1.5em;
    transition: all 1s;

}


.loginTitle {
    font-size: 3em;
    letter-spacing: -0.05em;
}

.submit {
    background-color: white;
    margin: 0.3em;
    font-size: 1.5em;
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 0.5em;
    border-radius: 5px;
    font-size: 1.3em;
}

.submit:hover {
    background-color: rgb(240, 20, 0);
    cursor: pointer;
}

.status {
    display: block;
    margin: 0.5em;
}

@media screen and (max-width: 900px) {
    #login {
        width: 80%;
    }
}

.inputText {
    text-transform: capitalize;
}