#login {
    margin: 1em;
    display: block;
    padding: 1em;
    width: 40%;
    border-top: 2px solid rgb(89, 200, 10);
    margin: auto;
    margin-top: 3.5em;
}

.inputBox {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 15px;
}

.inputText {
    color: rgb(14, 14, 14);
    font-size: 0.8emem;

}

.inputLogin {
    border: 0px solid white;
    outline: none;
    font-size: 1.2em;
    border: 2px solid rgb(212, 212, 212);
    padding: 1em;
    border-radius: 5px;
    padding-left: 1.5em;
    padding-right: 1.5em;

}

.inputLogin::placeholder {
    font-size: 1em;
    letter-spacing: -0.06em;
}

.loginTitle {
    font-size: 3em;
    letter-spacing: -0.05em;
}

.submit {
    background-color: white;
    margin: 0.3em;
    font-size: 1.5em;
    background-color: rgb(213, 139, 11);
    color: white;
    padding: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 0.5em;
    border-radius: 5px;
}

.status {
    display: block;
    margin: 0.5em;
}