<form id="login" method="post">
    <a class="loginTitle"> Effettua il tuo login </a>
    <div class="inputBox">
        <a class="inputText"> email </a> 
        <input type="email" class="inputLogin" placeholder="Scrivi la tua email...">
    </div>
    <div class="inputBox">
        <a class="inputText"> password </a> 
        <input type="password" class="inputLogin" placeholder="Scrivi la tua password...">
    </div>
    <a class="status"> In attesa dei inserimento dati </a>
    <button type="submit" class="submit"> Login </button>
</form>

