.submitText {
    padding: 1em;
    margin: 1em;
    display: block;
    border-radius: 10px;
    transition: all 0.16s;
    text-decoration: none;
    width: fit-content;
    font-size: 0.7em;
    display: inline-block;
    color: blueviolet;
}

.submitText:hover {
    background-color: rgba(14, 78, 120, 0.922);
    color: white;
}


.buttoneNota {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(38, 215, 255);
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.5em;
    color: rgb(16, 16, 16);
    border-radius: 5px;
}

.buttoneNota:hover {
    color: rgb(255, 255, 255);
    background-color: orange;
}