.border {
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 0.5em;
  background-color: rgb(236, 235, 235);
  
}



.inputTextContainer {
    left: 0;
    border: none;
    background: transparent;
    padding: 0.5em;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    outline: none;
  }


.flexCounterButton {
    display: flex;
    flex-direction: initial;
}


.flexCounter {
  display: flex;
  flex: 1;
  margin-top: 0.5em;
}

