.inputTextContainer {
    left: 0;
    height: 300px;
    border: none;
    background: transparent;
    padding: 0.5em;
    width: 90%;
    height: 400px;
    margin: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    outline: none;
  }


.border {
    background-color: #ffffff;
    border: 3px solid rgba(255, 111, 0, 0.971);
    border-radius: 5px;

}
  


