


<div class="border">



<app-input
    (change)="updateTitle($event)"
    [type] = "'text'"
    [placeholder] = "'Scrivi qui il tuo titolo'"
    [name] = "title"
>
</app-input>



<textarea 
    [(ngModel)] = "value"
    (ngModelChange)="updateCounter($event)"
    type="t" 
    class="inputTextContainer" 
    placeholder="Scrivi la tua nota">
</textarea>

<div class="flexCounterButton">

    <div class="flexCounter">
        <app-counter 
        [conteggio] = "conteggio"
        > </app-counter>
        
    </div>

    <div class="flexButton">

    <app-button 
        (click)="saveNote()"
        [textInfo] = "'Pubblica nota'"
        [classes] = "['submitText']"
        [routerLink] = "'/home'"
        [routerLinkActive] = "'/homeActive'">
    </app-button>

    </div>

</div>



<app-notify
    [classes] = "notifica ? ['notify', 'display'] : ['notify']"
    [contenutoNotifica] = "'Registrazione nota avvenuta con successo!'"
>

</app-notify>

    
</div>

<app-user-public-notes>

</app-user-public-notes>

<app-user-public-notes>

</app-user-public-notes>

<app-user-public-notes>

</app-user-public-notes>


<app-setting></app-setting>