
<div class="box_notes_user">

<div class="header_profile">
    <div class="container_profile containerHeader">
         <img class="image_profile" src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png">
     </div> 
     <div class="container_info containerHeader">
         <a class="name black"> wdaw </a> 
         <a class="counterNotes black"> dwdw</a> 
     </div>
 
     <div class="containerMyNotes">
         <a class="showProfileNotes" href=""> Show profile </a>
     </div>


 
 </div> 
     <div class="boxDescription">
        <a class="notesDescription">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quaerat officia animi dolor veniam obcaecati!

        </a>
     </div>

     <div class="likeCommentContainer">
        <div class="heartBox">
            <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <div class="commentBox">
            <i class="fa fa-comment" aria-hidden="true"></i>
        </div>
     </div>

    
    </div>